@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  font-size: 18px;
  color: #252b46;
  margin: 0;
}

a {
  color: #252b46;
  text-decoration: none;
}

h2 {
  font-size: 2.8em;
  margin: 0;
  font-weight: 500;
  word-wrap: normal;
}

p {
  color: #9194a1;
  line-height: 1.5em;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 1em;
}

.nav-content {
  display: none;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-section .text-content {
  max-width: 500px;
}

.main-section .img-content::after {
  content: "";
  background-color: #5368df;
  width: 400px;
  height: 300px;
  position: absolute;
  right: 0;
  bottom: 5px;
  border-bottom-left-radius: 10em;
  z-index: -3;
}

.main-button a {
  background-color: #fa5757;
  -webkit-box-shadow: 0px 5px 5px -4px #9194a1;
          box-shadow: 0px 5px 5px -4px #9194a1;
  padding: .8em 2.5em;
  border-radius: .5em;
  color: white;
}

.main-buttons {
  display: block;
  max-width: 30em;
  margin: 0;
  padding: 0;
}

.main-buttons li:first-child a {
  background-color: #5368df;
  color: white;
}

.main-buttons li:last-of-type a {
  -webkit-box-shadow: 0px 5px 5px -4px #9194a1;
          box-shadow: 0px 5px 5px -4px #9194a1;
  background-color: rgba(145, 148, 161, 0.068);
}

.main-buttons li {
  list-style-type: none;
  margin: .5em 1em 0 0;
  display: inline-block;
}

.main-buttons li a {
  padding: 1em 1em;
  border-radius: 5px;
  font-size: .8em;
  color: #252b46;
  font-weight: 500;
}

.img-content img {
  width: 100%;
}

@media (min-width: 765px) {
  .open-bar {
    display: none;
  }
  .img-content {
    position: relative;
  }
  .img-content img {
    z-index: 2;
    max-width: 35em;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em 5em 0 8em;
  }
  .nav-content {
    display: block;
    margin: 0;
  }
  .nav-content li {
    padding: 1em 1.5em;
    display: inline-block;
  }
  .nav-content li a {
    text-transform: uppercase;
    font-size: .8em;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
  }
  .nav-content li a:hover, .nav-content li a:active {
    color: red;
  }
  .main-section {
    padding: 3em 0em 0em 8em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=main.css.map */